// Colour variables - change these to affect classes like "is-primary"
$primary-color: #b57ba6;
$link-color: #19297C;
$info-color: #79A9D1;
$success-color: #68A691;
$warning-color: #FE5D26;
$danger-color: #FF220C ;
$background-color: #FCF5E5;
// $light-color: #F5E5FC;
// $dark-color: $dark;
$text-color: #252323;

// Font variables - change these to affect the text

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Uncial+Antiqua&display=swap');
$primary-font: '"Bellefair", serif';
$title-font: '"Uncial Antiqua", serif';